.card-container{
    padding: 1.25em;
    margin-bottom: 3em;
    border-radius: 15px;
    box-shadow: 1px 1px 8px -6px rgba(0,0,0,0.2);
}
.light-container{
    background-color: var(--light-colour);
    color: var(--dark-colour);
}
.dark-container{
    background-color: var(--dark-colour);
    color: var(--light-colour);
}
.card-container:last-child{
    margin-bottom: 0;
}

@media(min-width: 850px){
    .card-container{
        margin-bottom: 0;
    }
}