.hourly-weather-wrapper{
    position: relative;
}
.hourly-weather{
    overflow-x: scroll;
}
.hourly-weather::-webkit-scrollbar {
    display: none;
  }
.hourly-weather-content{
    display: flex;
}
.hourly-weather-title{
    position: absolute;
    top: -45px;
    left: -12px;
    color: grey;
    font-size: 18px;
}

.single-hour-weather{
    text-align: center;
    margin-right: 1.5em;
    min-width: fit-content;
}
.single-hour-weather p{
    font-size: 12px;
}