


/*** TYPOGRAPHY ***/

.home-logo{
    font-size: 18px;
    font-weight: 400;
}
.home-logo span{
    color: var(--primary-colour);
    font-weight: bold;
}
.home-title{
    font-size: 40px;
    margin-bottom: 10px;
}
.home-title span{
    color: var(--primary-colour);
}

.home-sub-title{
    font-size: 19px;
}

.home-input-group label, .home-input-group button, .home-input-group input{
    font-size: 14px;
}


/*** LAYOUT AND STYLING ***/

.light-theme{
    background-color: var(--light-colour);
    color: var(--dark-colour);
    transition: 0.2s;
}

.light-theme input{
    background-color: var(--light-colour);
    color: var(--dark-colour);
    border: 1px solid gainsboro;
}
.light-theme .city-link div{
    color: var(--dark-colour);
    border-bottom: 1px solid gainsboro;
}
.light-theme .city-link div:hover{
    background-color: #fafafa;
}
.light-theme .city-link-list{
    border: 1px solid gainsboro;
}
.dark-theme{
    background-color: var(--dark-colour);
    color: var(--light-colour);
    transition: 0.2s;
}
.dark-theme input{
    background-color: rgb(80, 80, 80);
    color: var(--light-colour);
    border: 1px solid rgb(65, 65, 65);
}
.dark-theme .city-link div{
    color: var(--light-colour);
    border-bottom: 1px solid rgb(87, 87, 87);
}
.dark-theme .city-link div:hover{
    background-color: #383838;
}
.dark-theme .city-link-list{
    border: 1px solid rgb(87, 87, 87);
}
.home-container{
    max-width: 900px;
    padding: 1em 1.5em;
    min-height: 100vh;
}

.home-content{
    margin: 5em 0;
}

.home-input-group{
    display: flex;
    flex-direction: column;
}

.home-input-group input[type="text"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 10px 0;
    padding: 0.75em;
    border-radius: 5px;
}

.home-input-group input:focus{
    outline: none;
    border: 2px solid var(--primary-colour)
}

.home-input-group input::placeholder{
    color: rgb(201, 201, 201);
}

.home-input-group button{
    border: 0;
    background-color: var(--primary-colour);
    color: var(--light-colour);
    padding: 0.75em;
    border-radius: 5px;
    transition: 0.2s;
    box-shadow: 1px 1px 4px -2px rgba(0,0,0,0.5);
}
.home-input-group button:hover{
    cursor: pointer;
    box-shadow: 1px 1px 4px -1px rgba(0,0,0,0.6);
}
.home-input-group button:disabled{
    cursor: not-allowed;
}

.city-link-list{
    border-radius: 10px;
    margin-top: 2em;
}

.city-link{
    text-decoration: none;
}
.city-link p{
    margin: 0;
}
.city-link div{
    padding: 1em;
}
.city-link:last-child div{
    border-bottom: 0;
    border-radius: 0 0 10px 10px;
}
.city-link:first-child div{
    border-radius: 10px 10px 0 0;
}
.city-link div:hover{
    cursor: pointer;
}
.city-link-list{
    grid-column: -1/1;
}
.city-not-found{
    grid-column: -1/1;
    text-align: center;
    color: rgb(233, 74, 74);
    font-size: 18px;
    margin-top: 1.5em;
}
.theme-change-btn{
    position: fixed;
    top: 10px;
    right: 15px;
    font-size: 25px;
    padding: 0.3em;
    display: flex;
    align-items: center;
    border-radius: 50%;
    border: 0;
    color: var(--light-colour);
    background-color: var(--primary-colour);
    box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.2);
}
.theme-change-btn:hover{
    cursor: pointer;
}

@media(min-width: 680px){

    .home-logo{
        position: absolute;
        top: -30px;
        left: 0;  
    }

    .home-container{
        width: 95%;
        position: relative;
        margin: 5em auto;
        padding: 4em 2em;
        box-shadow: 1px 1px 10px -6px rgba(0,0,0,0.3);
        border-radius: 15px;
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        grid-gap: 3em;
        align-items: center;
        min-height: auto;
    }
    .home-content{
        margin: 0;
    }
    .city-link-list{
        margin-top: 0;
    }
    .loader{
        margin: 0 auto;
    }
    .city-not-found{
        margin: 0;
    }
    .theme-change-btn{
        font-size: 30px;
        top: auto;
        right: auto;
        bottom: 20px;
        left: 20px;
    }
}


@media(min-width: 900px){
    .home-logo{
        top: -40px;
        font-size: 25px;
    }
    .home-title{
        font-size: 50px;
        margin-bottom: 25px;
        line-height: 1.1;
    }
    .home-sub-title{
        font-size: 20px;
    }

    .home-input-group label, .home-input-group button, .home-input-group input{
        font-size: 16px;
    }

}