.weather-container{
    background-color: #fafafab6;
    max-width: 1000px;
    min-height: 100vh;
    padding: 1em;
    color: var(--dark-colour);
}

.weather-header{
    padding-right: 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1em;
}
.weather-header-city-name{
    margin: 0;
    font-size: 24px;
}
.weather-header-city-name span{
    font-size: 18px;
    color: grey;
}

.weather-header-back-btn{
    background-color: #fafafab6;
    padding: 0;
    border: 0;
}
.weather-header-hbmenu{
    font-size: 22px;
}